<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Login-IVB</title>
  <link rel="stylesheet" href="/css/stylesSI.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>
  <div class="login-box">
    <h2>Login</h2>
    <span></span>
    <div id="ed">
    <p id="errormsg" style="color:#03e9f4;font-weight: bolder;"></p>
    <p style="color:#03e9f4;font-weight: bolder;" th:text="${no_acc}"></p>
    </div>
    
    <form id="si" action="/home" method="post">
      <div class="user-box">
        <input type="text" name="uname" id="uname" required autocomplete="off">
        <label for="">Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="pass" id="pass" required>
        <label for="">Password</label>
      </div>
      <!--         <input type="submit"> -->
      <a onclick="myFunctionSI()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>

    <form id="su" action="signup" method="post">
      <a onclick="myFunctionSU()">Create New Account</a>
    </form>

    <script src="/js/index.js"></script>
  </div>
</body>

</html>